.modal {
  display: flex;
  position: fixed;
  z-index: 1000; /* Ensure this is higher than the autocomplete dropdown */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  width: 300px;
  z-index: 1001;
  position: relative; 
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.autocomplete-control {
}
.org-label {
  margin-bottom: 0px;
}
.reservation-form {
  max-width: 350px;
  display: grid;
  
  margin: 0 auto 20px;
  margin-bottom: 0px;
}

.pac-target-input,
.modal-form input[type="text"],
.modal-form input[type="time"] {
  padding: 5px 5px;
  font-size: 16px;
  border: 2px solid #34c3d1;
  border-radius: 10px;
  width: 100%;
  background-color: white;
  color: #34c3d1;
  margin-bottom: 10px;
  margin-top:10px;
}
