$yellow:#ffd539;
$bright-blue:#34c3d1;
$dark-blue:#2263b5;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  font-weight: bold !important;
}

nav{
  z-index: 1;
}
  
.bg-dark{
  background-color: $yellow !important;
  color: $dark-blue !important;
}
.navbar-dark .navbar-nav .nav-link {
  color: $dark-blue!important;
}
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: $bright-blue !important;
}
.navbar-dark .navbar-brand {
  color: $dark-blue;
}
.navbar-toggler-icon {
  background-color: $dark-blue !important;
  border-radius: 0.25em;
}
body {
  background-color: $bright-blue;
}
.home-container, .management-container, .reservations-container, .charging-container, .login-container, .profile-container, .register-container, .forgot-container, .checkout-container {
    max-width: 100%;
    max-height: 100%;
    padding: 20px;
    margin: auto;
    text-align: center;
    h1 {
      margin-bottom: 20px;
      color:white;
    }
    p {
      color: $dark-blue
    }
    span {
      color: $yellow
    }
}
.map-container {
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
    padding: 20px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
}  
.the-map {
    width: 100%;
    height: 100%;
}
.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  margin: 0;

  z-index: 0;
}

.auth-inner {
  max-width: 500px;
  margin-right:40px;
  align-self:center;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 30px;
  border-radius: 15px;
  transition: all 0.3s;
}

.auth-wrapper .form-control:focus {
  border-color: $bright-blue;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
  color: $bright-blue
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password, 
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: $bright-blue;
  margin: 0;
}

.forgot-password a {
  color: $dark-blue;
}
.continue-p{
  font-size: 12px;
  color: $bright-blue;
  font-weight: 600;
  margin-top: 1rem;
  text-align: center;
}
.btn-primary{
  background-color: $dark-blue;
}
.btn{
  border:none;
}
label {
  color: $bright-blue
}
.form-control {
  color: $bright-blue;
  background-color: white;
  border: none;
  border-bottom: 2px solid $bright-blue;
  border-radius: 0;
}
.form-control::placeholder {
  color: $bright-blue;
}
.form-control:focus {
  color: $bright-blue;
}
.marker-details {
  max-width: 1000px;
  margin:auto;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  h2 {
    color:$bright-blue
  }
  p {
    color:$bright-blue
  }
}
.reservations-list, .locations-list, .car-list {
  margin:auto;
  max-width: 350px;
  padding-left: 0;
  list-style: none;
}
.reservation-item, .location-item, .car-item {
  border: 2px solid $dark-blue;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: $yellow;
  color: $dark-blue
}
.reservation-form {
  max-width: 350px;
  display: grid;
  //grid-gap: 20px;
  margin: 0 auto 20px;
  margin-bottom: 0px;
  //padding: 20px;
  input[type="date"],
  input[type="time"] {
    padding: 10px 10px;
    font-size: 16px;
    border: 2px solid $bright-blue;
    border-radius: 20px;
    width: 100%;
    background-color: white;
    color: $bright-blue;
    margin-bottom: 10px;
    
  }
  button[type="submit"] {
    margin-top: 10px
  }
}
